{% extends '../base.html' %}


{% block navbar %}
{% include '../navbar.html' %}
{% endblock navbar %}


{% block content %}  
<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>
  
  
    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">NAME
            <th scope="col">NAME
              <a href = "{% url 'student_sort' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>   
              </svg>
            </a>
              
            </th>
            {% comment %} <th scope="col">EMAIL</th> {% endcomment %}
            <th scope="col">ROLLNO</th>
            {% comment %} <th scope="col">PER</th>
            <th scope="col">STATUS</th> {% endcomment %}
            <th scope="col">ACTION</th>
          </tr>
        </thead>
        <tbody>

            {% for student in students  %}
          <tr>
            <th scope="row">{{student.id}}</th>
            <td>{{student.name}}</td>
            {% comment %} <td>{{student.email}}</td> {% endcomment %}
            <td>{{student.roll}}</td>
            {% comment %} <td>{{student.per}}</td>
            <td>{{student.status}}</td> {% endcomment %}
            <td>
              <a href = "{% url 'student_delete' student.id %}"class="btn btn-danger">DELETE</a>
              <a href = "{% url 'student_detail' student.id %}"class="btn btn-info">DETAIL</a>
              <a href = "{% url 'student_update' student.id %}"class="btn btn-primary">UPDATE</a>
            </td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>    
</body>
</html>
{% endblock content %}



{% block footer %}
  {% include '../footer.html' %}
{% endblock footer %}
  